<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="222" android:versionName="2.2" package="com.autostart">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="18"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:launchMode="singleTask">
        <activity android:label="@string/app_name" android:name="com.autostart.AutoStartActivity" android:configChanges="orientation|keyboard" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.autostart.MyBroadcastreceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.autostart.TimeOutReceiver"/>
        <receiver android:name="com.autostart.TimeOutHomeReceiver"/>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
</manifest>
